.container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

    padding-bottom: 50px;
    border-bottom: 1px solid #5d6544;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

    color: #b6c197;
}

.header {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;

    color: #ffffff;
}
