.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    margin-left: 12%;
    padding: 60px 100px 54px 65px;

    background: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
}

.image {
    padding-right: 66px;
}