.container {
    padding: 120px 12% 0 12%;

    position: relative;
}

.background-end {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;

    width: 100%;
}
